/*import fonts*/
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/Roboto/Robotothin.woff2') format('woff2'), url('../fonts/Robotothin.woff') format('woff'), url('../fonts/Robotothin.ttf') format('truetype');
	    font-weight: 100;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../fonts/Robotothinitalic.woff2') format('woff2'), url('../fonts/Robotothinitalic.woff') format('woff'), url('../fonts/Robotothinitalic.ttf') format('truetype');
	    font-weight: 100;
	    font-style: italic;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Robotolight.woff2') format('woff2'), url('../fonts/Robotolight.woff') format('woff'), url('../fonts/Robotolight.ttf') format('truetype');
	    font-weight: 300;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../fonts/Robotolightitalic.woff2') format('woff2'), url('../fonts/Robotolightitalic.woff') format('woff'), url('../fonts/Robotolightitalic.ttf') format('truetype');
	    font-weight: 300;
	    font-style: italic;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype');
	    font-weight: 400;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/Robotoitalic.woff2') format('woff2'), url('../fonts/Robotoitalic.woff') format('woff'), url('../fonts/Robotoitalic.ttf') format('truetype');
	    font-weight: 400;
	    font-style: italic;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Robotomedium.woff2') format('woff2'), url('../fonts/Robotomedium.woff') format('woff'), url('../fonts/Robotomedium.ttf') format('truetype');
	    font-weight: 500;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../fonts/Robotomediumitalic.woff2') format('woff2'), url('../fonts/Robotomediumitalic.woff') format('woff'), url('../fonts/Robotomediumitalic.ttf') format('truetype');
	    font-weight: 500;
	    font-style: italic;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Robotobold.woff2') format('woff2'), url('../fonts/Robotobold.woff') format('woff'), url('../fonts/Robotobold.ttf') format('truetype');
	    font-weight: 700;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/Robotobolditalic.woff2') format('woff2'), url('../fonts/Robotobolditalic.woff') format('woff'), url('../fonts/Robotobolditalic.ttf') format('truetype');
	    font-weight: 700;
	    font-style: italic;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/Robotoblack.woff2') format('woff2'), url('../fonts/Robotoblack.woff') format('woff'), url('../fonts/Robotoblack.ttf') format('truetype');
	    font-weight: 900;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Roboto';
	    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../fonts/Robotoblackitalic.woff2') format('woff2'), url('../fonts/Robotoblackitalic.woff') format('woff'), url('../fonts/Robotoblackitalic.ttf') format('truetype');
	    font-weight: 900;
	    font-style: italic;
	}


*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}
#map{
	height: 400px;
	width: 100%;
}
button.go{
	padding: 20px 40px;
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #fff;
	border: 1px solid #000;
	z-index: 1000;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
}
#wrap-table{
	padding: 20px;
	min-height: 1px;
	min-width: 1px;
}
#wrap-table table{
	border-collapse:collapse;
	margin: 0 auto;
}
#wrap-table table td{
	border: 1px solid #000;
	padding: 3px 10px;
}
#wrap-table table td.dis{
	background-color: #ccc;
}
.side-panel{
	min-height: 200px;
	position: absolute;
	min-width: 150px;
	left: -2000px;
	top: 80px;
	z-index: 1200;
	border: 1px solid #000;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	background-color: #fff;
	transition: all ease .5s;
}
.side-panel.open{
	left: 0;
}
.button-open-side-panel{
	transform: rotate(270deg);
	padding: 5px 10px;
	border: none;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	outline: none;
	border: 1px solid #000;
	position: absolute;
	left: 0;
	margin-left: -27px;
	top: 150px;
	z-index: 1300;
	cursor: pointer;
	font-size: 16px;
	transition: all .5s ease;
}
.button-open-side-panel.open{
	transform: rotate(360deg);
	border-radius: 10px 10px 0 0;
	top: 50px;
	left: 50px;
}




.button-top-menu{
	background-color: rgba(0,0,0,0);
	border: none;

}
/*bootstrap*/
.header{
	height: 64px;
	background-color: #4285F4;
	color: #fff;

}
.header .button-menu{
	display: inline-block;
	height: 64px;
	vertical-align:top;
}
.header .logo{
	display: inline-block;
	height: 64px;
	vertical-align:top;
}
.header .search{
	display: inline-block;
	height: 64px;
	vertical-align:top;
}
.header .search .icon{
	position: absolute;
	color: #555;
	z-index: 100;
}
.header .search #searchTextField{
	padding: 5px 10px 5px 40px;
	width: 300px;
	color: #555;
}
.header .buttons{
	display: inline-block;
	height: 64px;
	vertical-align:top;
}